.project {
    max-width: 120rem;
    margin: auto;
    width: 92%;
    margin-bottom: 0;
}

.section {
    padding: 2rem 0 4rem;
}

.project-container {
    background-color: rgba(239, 233, 233, 0.2);
}

.project-image {
    flex: 1;
    display: block;
    margin: 0 auto;
}

.image-box {
    width: 600px;
    align-items: center;
}

.individual-projects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 8rem;
    margin-top: 8rem;
}

.project-description {
    max-width: 500px;
    margin-left: 3rem;
    flex: 1;
}

.project-name {
    font-weight: bolder;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: black;
}

.project-description p {
    font-size: 0.9rem;
    color: #666;
    max-width: 60rem;
    line-height: 2;
    margin-bottom: 2rem;
}

.project-description button {
    margin-bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1130px) {
    .section__title {
        font-size: 1.3rem;
    }

    .contact-main_para {
        font-size: 0.9rem;
    }

    .image-box {
        width: 500px;
    }

    .project-name {
        font-size: 1.7rem;
    }

    .project-description p {
        font-size: 0.9rem;
    }
}


@media screen and (max-width: 890px) {
    .section__title {
        font-size: 1.3rem;
    }

    .contact-main_para {
        font-size: 0.9rem;
    }

    .individual-projects {
        flex-direction: column;
    }

    .project-description {
        text-align: center;
        margin-left: 0;
    }

    .project-image {
        display: block;
        margin: 2rem auto;
    }



}

@media screen and (max-width: 768px) {
    .individual-projects {
        flex-direction: column;
    }

    .image-box {
        width: 600px;
    }

    .project-description {
        text-align: center;
    }

    .project-image {
        display: block;
        margin: 2rem auto;
    }
}

@media screen and (max-width: 680px) {
    .image-box {
        width: 500px;
    }

}

/* For small devices */
@media screen and (max-width: 550px) {
    .image-box {
        width: 90%;
    }

    .project-name {
        font-size: 1.5rem;
    }

    .project-description p {
        font-size: 0.7rem;
    }

    .project-image {
        margin-bottom: 1rem;
    }

    .project-description {
        margin-top: 0;
    }

    .individual-projects {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
}