.footer {
    background-color: black;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: #fff;
}

.footer__container {
    display: flex;
    flex-direction: column;
}

.footer__main-content {
    display: flex;
    padding: 6rem 0;
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #444;
}

.footer-info {
    flex: 3;
}

.footer-social {
    flex: 1;
}

.footer-info h2,
.footer-social h2 {
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.footer-info p {
    margin-top: 2rem;
    color: #eee;
    font-size: 0.9rem;
    line-height: 1.7;
    max-width: 500px;
}

.footer-links {
    margin-top: 2rem;
}

.footer-links i {
    font-size: 1.5rem;
    margin-right: 0.8rem;
    color: #fff;
}


.copy {
    padding: 3rem;
    font-size: 0.7rem;
    text-align: center;

    padding: 2rem 0;
    margin: 0 9rem;
}

.copy span {
    margin-left: 2px;
    font-weight: bold;
    text-decoration: underline;
}