.footer {
    background-color: black;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: #fff;
}

.footer__container {
    display: flex;
    flex-direction: column;
}

.footer__main-content {
    display: flex;
    padding: 6rem 0;
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #444;
}

.footer-info {
    flex: 3;
}

.footer-social {
    flex: 1;
}

.footer-info h2,
.footer-social h2 {
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.footer-info p {
    margin-top: 2rem;
    color: #eee;
    font-size: 0.9rem;
    line-height: 1.7;
    max-width: 500px;
}

.footer-links {
    margin-top: 2rem;
}

.footer-links i {
    font-size: 1.5rem;
    margin-right: 0.8rem;
    color: #fff;
}


.copy {
    padding: 3rem;
    font-size: 0.7rem;
    text-align: center;

    padding: 2rem 0;
    margin: 0 9rem;
}

.copy span {
    margin-left: 2px;
    font-weight: bold;
    text-decoration: underline;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {}

/* For medium devices */
@media screen and (max-width: 865px) {
    .footer-info h2 {
        font-size: 1rem;
    }

    .footer-info p {
        font-size: 0.8rem;
        max-width: 80%;
    }

    .footer-social h2 {
        font-size: 1rem;
    }

    .footer-links i {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 680px) {
    .footer__main-content {
        flex-direction: column;
        padding-bottom: 70px;
    }

    .footer__main-content p {
        margin-top: 1rem;
    }

    .footer-info {
        margin-bottom: 2rem;
    }

    .footer-links {
        margin-top: 1rem;
    }

    .copy {
        font-size: 0.7rem;
        margin: 0 auto;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .copy {
        font-size: 0.5rem;
        margin: 0 auto;
    }
}